.label-tablet-cancel {
    position: relative;
    top: 0;
    left: 0;
    border: 1px dashed red;
    width: 54vw;
    padding: 5px;
    color: red;
}

.label-tablet-cancel p {
    margin: 0;
}

.label-tablet-cancel.display-false {
    display: none;
}

.label-true {
    display: flex;
}
